:root{
    --bg: #212121;
    --bgc: rgba(255, 255, 255, 0.3);
    --br: 5px;
    --border: solid 1px rgba(255, 255, 255, 0.5);
}
*{
}
body{
    background: var(--bg);
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/22eb9030-7213-47b4-b06e-acccbf01ab48/d64opv4-04838a4f-bd01-45da-b6b6-45e8d7c315f1.png/v1/fill/w_1131,h_707,strp/free_abstract_c4d_2_by_gumnade_d64opv4-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIwMCIsInBhdGgiOiJcL2ZcLzIyZWI5MDMwLTcyMTMtNDdiNC1iMDZlLWFjY2NiZjAxYWI0OFwvZDY0b3B2NC0wNDgzOGE0Zi1iZDAxLTQ1ZGEtYjZiNi00NWU4ZDdjMzE1ZjEucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.btOqiSNXExI8crVguTge5svEqmepDzjV71ugQguj-Bk");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.box{
    background: #4d4d4d;
    padding: 0 10px 10px 10px;
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: flex-end;
    max-width: 100%;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
}

textarea{
    border-radius: var(--br);
    resize: none;
    font-size: 1em;
    min-height: min-content;
    max-height: max-content;
    padding: 15px 15px;
    background: black;
    color: ivory;
}

h1{
    font-size: 1em;
    font-weight: bolder;
    color: white;
}

label{
    font-size: 0.8em;
    color: rgb(141, 141, 141);
}

.btn-save{
    background: hsl(90, 60%, 50%);
    border: none;
    border-radius: var(--br);
    color: white;
    padding: 10px;
    font-weight: bolder;
}

.btn-save:hover{
    background: hsl(90, 60%, 50%);
    box-shadow: 0 5px 10px 2px rgba(10, 255, 63, 0.5);
    cursor: pointer;
}

.btn-clean{
    background: red;
    border: none;
    border-radius: var(--br);
    color: white;
    padding: 1px 3px;
    font-weight: bolder;
}
.btn-clean:hover{
    background: rgb(168, 0, 0);
    box-shadow: 0 1px 10px 2px rgba(255, 0, 0, 0.582);
    cursor: pointer;
}

#divTasks > div{
    background-color: var(--bgc);
    backdrop-filter: blur(5px);
    border-radius: var(--br);
    border: var(--border);
    color: black;
    padding: 10px;
    margin: 5px;
    min-height: min-content;
    max-width: 90%;
    display: flex;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
}

#divTasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btnDiv{
    text-align: right;
    float: right;
}